/obj
/raktarProgram/TestResults
/raktarProgramTests/bin
/raktarProgramTests/obj
/bin
/raktarProgram/*.user
/.vs
/raktarProgram/.vs
/raktarProgram/Pages/Templates
/raktarProgram/Pages/Templates/Kereses.razor
