@page
@model ResetPasswordConfirmationModel
@{
    ViewData["Title"] = "Jelszó visszaállításának megerősítése.";
}

<h1>@ViewData["Title"]</h1>
<p>
    Jelszó alaphelyzetbe lett állítva.  <a asp-page="./Login">Itt jelentkezhetsz be</a>.
</p>
