@page
@model Disable2faModel
@{
    ViewData["Title"] = "2 lépcsős azonosítás kikapcsolása (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <strong>Ez csak a 2 lépcsős azonosítást kapcsolja ki..</strong>
    </p>
    <p>
        Ha kikapcsolod a 2 lépcső azonosítást attól még nem változik meg a kulcs ami az azonosító alkalmazásokban van, ahhoz hogy azt meváltoztasd <a asp-page="./ResetAuthenticator">ide</a> kattints.
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">2FA kikapcsolása</button>
    </form>
</div>
