@page
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = "Generate two-factor authentication (2FA) recovery codes";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Put these codes in a safe place.</strong>
    </p>
    <p>
       Ha elveszted az eszközödet és nincs meg a visszaszerző kód akkor nem fogsz tudni hozzá férni a fiokodhoz.
    </p>
    <p>
       Ha új visszaszerző kulcsot generálsz attól még nem változik meg a kulcs ami az azonosító alkalmazásokban van, ahhoz hogy azt megváltoztasd <a asp-page="./ResetAuthenticator">ide</a> kattints.
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">Visszaszerző kulcs generálása</button>
    </form>
</div>