@page
@model ResetAuthenticatorModel
@{
    ViewData["Title"] = "Hitelesítő kulcs visszaállítása";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>Ha alaphelyzetbe állítod a hitelesítő kulcsod akkor az alkalmazásod addig nem fog működni amig újra be nem konfigurálod.</strong>
    </p>
    <p>
        Ez a művelet kikapcsolja a két-lépcsős hitelesítést amíg nem hitelesíted az alkalmazásod.
        Ha nem fejezed be a hitelesítő alkalmazásod beállítását elvesztheted a belépést a profilodba.
    </p>
</div>
<div>
    <form id="reset-authenticator-form" method="post" class="form-group">
        <button id="reset-authenticator-button" class="btn btn-danger" type="submit">Hitelesítő kulcs alaphelyzetbe állítása</button>
    </form>
</div>