@page
@model TwoFactorAuthenticationModel
@{
    ViewData["Title"] = "Two-factor authentication (2FA)";
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

<partial name="_StatusMessage" for="StatusMessage" />
<h4>@ViewData["Title"]</h4>
@if (Model.Is2faEnabled)
{
    if (Model.RecoveryCodesLeft == 0)
    {
        <div class="alert alert-danger">
            <strong>You have no recovery codes left.</strong>
            <p>Kell hogy generálj egy új <a asp-page="./GenerateRecoveryCodes">helyreállítási kódot</a> mielött beléphetsz a kód használatával.</p>
        </div>
    }
    else if (Model.RecoveryCodesLeft == 1)
    {
        <div class="alert alert-danger">
            <strong>Még van egy helyreállítási kódod</strong>
            <p><a asp-page="./GenerateRecoveryCodes">Új kód generálása.</a></p>
        </div>
    }
    else if (Model.RecoveryCodesLeft <= 3)
    {
        <div class="alert alert-warning">
            <strong>Még @Model.RecoveryCodesLeft darab helyreállítási kódod van.</strong>
            <p><a asp-page="./GenerateRecoveryCodes">Új helyreállítási kód generálása.</a></p>
        </div>
    }

    if (Model.IsMachineRemembered)
    {
        <form method="post" style="display: inline-block">
            <button type="submit" class="btn btn-default">Böngésző elfelejtése.</button>
        </form>
    }
    <a asp-page="./Disable2fa" class="btn btn-default">2Fa kikapcsolása</a>
    <a asp-page="./GenerateRecoveryCodes" class="btn btn-default">Helyreállítási kódok alaphelyzetbe állítása.</a>
}

<h5>Hitelesítő alkalmazáspl</h5>
@if (!Model.HasAuthenticator)
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Hitelesítő alkalmazás hozzá adása.</a>
}
else
{
    <a id="enable-authenticator" asp-page="./EnableAuthenticator" class="btn btn-default">Új hitelesítő alkalmazás beállítása.</a>
    <a id="reset-authenticator" asp-page="./ResetAuthenticator" class="btn btn-default">Hitelesítő alkalmazások alaphelyzetbe állítása.</a>
}

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}