

<div class="top-row pl-4 navbar navbar-dark">
    <a class="navbar-brand" href="">raktarProgram</a>
    <button class="navbar-toggler" @onclick="ToggleNavMenu">
        <span class="navbar-toggler-icon"></span>
    </button>
</div>

<div class="@NavMenuCssClass" @onclick="ToggleNavMenu">
    <ul class="nav flex-column">
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eszkozok">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Eszközök
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eszkoztipusok">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Eszköztipusok
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="eszkozhelyek">
                <span class="oi oi-list-rich" aria-hidden="true"></span> Eszközhelyek
            </NavLink>
        </li>

        <AuthorizeView Roles="Admin">
            <Authorized>


                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="eszkozhelytipusok">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Eszközhelytipusok
                    </NavLink>
                </li>

            </Authorized>
        </AuthorizeView>

        <li class="nav-item px-3">
            <NavLink class="nav-link" href="beszerzesek">
                <span class="oi oi-x" aria-hidden="true"></span> Beszerzések
            </NavLink>
        </li>
        <li class="nav-item px-3">
            <NavLink class="nav-link" href="atadasok">
                <span class="oi oi-x" aria-hidden="true"></span> Átadások
            </NavLink>
        </li>

        <AuthorizeView Roles="Admin">
            <Authorized>

                <li class="nav-item px-3">
                    <NavLink class="nav-link" href="UserRoleAdministration">
                        <span class="oi oi-list-rich" aria-hidden="true"></span> Felhasználók
                    </NavLink>
                </li>

            </Authorized>
        </AuthorizeView>

    </ul>
</div>

@code {
    private bool collapseNavMenu = true;

    private string NavMenuCssClass => collapseNavMenu ? "collapse" : null;

    private void ToggleNavMenu()
    {
        collapseNavMenu = !collapseNavMenu;
    }
}
